ody {
    font-family: Arial, sans-serif;
    background-color: #E6F7F9;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background: #F8F8F8;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
}
h2 {
    font-weight: bold;
    margin-bottom: 20px;
}
input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.btn {
    width: 100%;
    padding: 10px;
    background-color: #CFEDEC;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.login-link {
    margin-top: 10px;
    font-size: 14px;
}